# Step 1 - Scraping

#A) NASA Mars News:
Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [7]:
#Import Dependencies
import requests
import csv
import pandas as pd
from bs4 import BeautifulSoup
import sys
import json
from selenium import webdriver
import time
from selenium.webdriver.support.ui import Select
import csv
import html
import twitter
import sys
import tweepy

# Scraping News

In [3]:
 driver=webdriver.Firefox()

In [5]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
driver.get(url)
r=requests.get(url)
soup = BeautifulSoup(r.content)
news_1p=soup.find('div',class_="article_teaser_body")
news_title=driver.find_element_by_class_name("content_title").text
news_p=driver.find_element_by_class_name("article_teaser_body").text                  
print(news_title,news_p)

What's Mars Solar Conjunction, and Why Does It Matter? NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.

In [6]:
#this step was omitted in scrape_masr.py
news_dict={"newstitle":news_title,"newsbody":news_p}

# Scraping Image1-JPL Mars Space Images - Featured Image

In [9]:
url="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

In [10]:
driver.get(url)
img=driver.find_element_by_id('full_image').click()

In [ ]:
time.sleep(15)
img2=driver.find_element_by_xpath('//*[@id="fancybox-lock"]/div/div[2]/div/div[1]/a[2]').click()

In [11]:
featured_image_url=driver.find_element_by_class_name("main_image").get_attribute("src")driver.close()

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17563_ip.jpg

In [12]:
#this step was omitted in scrape_masr.py
image_dict={"MarsImage":featured_image_url}

In [13]:
#this step was omitted in scrape_masr.py
image_dict

{'MarsImage': 'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17563_ip.jpg'}

# Mars Weather # Scraping Information of twitter

In [8]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import twitter
import sys
import tweepy 
from tweepy.auth import OAuthHandler
from twython import Twython, TwythonError

In [17]:
#auth = tweepy.OAuthHandler(config.api_key, config.api_secret)
#auth.set_access_token(config.access_token,config.token_secret)

In [18]:
api = tweepy.API(auth)
api

In [19]:
twitter_api = twitter.Twitter(auth=auth)
print (twitter_api)

<twitter.api.Twitter object at 0x0000021E63D16B38>

In [20]:
searchQuery = api.user_timeline(screen_name='@MarsWxReport')
len(searchQuery)

20

In [21]:
tweets = api.user_timeline(screen_name='@MarsWxReport', count=2,include_rts = False,tweet_mode = 'extended')

In [22]:
for info in tweets[:3]:
    mars_weather=[]
    #print("ID: {}".format(info.id))
    #print(info.created_at)
    print(info.full_text)
    Tex=(info.full_text)
    mars_weather.append(Tex)    
    print("\n")

@amanachos and not just the local weather.


InSight sol 265 (2019-08-25) low -99.4ºC (-146.9ºF) high -26.3ºC (-15.3ºF)
winds from the SSE at 5.3 m/s (12.0 mph) gusting to 16.1 m/s (35.9 mph)
pressure at 7.50 hPa https://t.co/9YLawm67zS

In [23]:
#this step was omitted in the final scrape_mars.py
mars_weather

['InSight sol 265 (2019-08-25) low -99.4ºC (-146.9ºF) high -26.3ºC (-15.3ºF)\nwinds from the SSE at 5.3 m/s (12.0 mph) gusting to 16.1 m/s (35.9 mph)\npressure at 7.50 hPa https://t.co/9YLawm67zS']

In [24]:
#this step was omitted in the final scrape_mars.py
marsweather_dict ={"last_tweet":mars_weather}

In [25]:
#this step was omitted in the final scrape_mars.py
marsweather_dict

{'last_tweet': ['InSight sol 265 (2019-08-25) low -99.4ºC (-146.9ºF) high -26.3ºC (-15.3ºF)\nwinds from the SSE at 5.3 m/s (12.0 mph) gusting to 16.1 m/s (35.9 mph)\npressure at 7.50 hPa https://t.co/9YLawm67zS']}

# Mars Facts Scraping table of facts

In [27]:
url="https://space-facts.com/mars/"

In [28]:
res = requests.get(url)
soup = BeautifulSoup(res.text,"html")
table=[]
for tr in soup.find(class_="tablepress tablepress-id-p-mars").find_all("tr"):
    data = [item.get_text(strip=True) for item in tr.find_all(["h3","th","td"])]
    table.append(data)
print(table)

[['Equatorial Diameter:', '6,792 km'], ['Polar Diameter:', '6,752 km'], ['Mass:', '6.39 × 10^23 kg(0.11 Earths)'], ['Moons:', '2 (Phobos&Deimos)'], ['Orbit Distance:', '227,943,824 km(1.38 AU)'], ['Orbit Period:', '687 days (1.9 years)'], ['Surface Temperature:', '-87 to -5 °C'], ['First Record:', '2nd millennium BC'], ['Recorded By:', 'Egyptian astronomers']]

In [30]:
tabledf=pd.DataFrame(table)

In [31]:
tabledf

                      0                             1
0  Equatorial Diameter:                      6,792 km
1       Polar Diameter:                      6,752 km
2                 Mass:  6.39 × 10^23 kg(0.11 Earths)
3                Moons:             2 (Phobos&Deimos)
4       Orbit Distance:       227,943,824 km(1.38 AU)
5         Orbit Period:          687 days (1.9 years)
6  Surface Temperature:                  -87 to -5 °C
7         First Record:             2nd millennium BC
8          Recorded By:          Egyptian astronomers

In [35]:
tabledf.rename(columns={ tabledf.columns[0]: "Parameter" ,tabledf.columns[1]: "Value"}, inplace = True)

In [36]:
tabledf

                                                Value
0  Equatorial Diameter:                      6,792 km
1       Polar Diameter:                      6,752 km
2                 Mass:  6.39 × 10^23 kg(0.11 Earths)
3                Moons:             2 (Phobos&Deimos)
4       Orbit Distance:       227,943,824 km(1.38 AU)
5         Orbit Period:          687 days (1.9 years)
6  Surface Temperature:                  -87 to -5 °C
7         First Record:             2nd millennium BC
8          Recorded By:          Egyptian astronomers

In [37]:
FactsMarsTable= tabledf.to_html()

In [38]:
FactsMarsTable

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg(0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos&amp;Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km(1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres Scraping  images of hemispheres

In [9]:
driver=webdriver.Firefox()
url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
driver.get(url)
import time
hemisdic=[]
time.sleep(15)
driver.find_element_by_xpath("/html/body/div[1]/div[1]/div[2]/section/div/div[2]/div[1]/div/a/h3").click()
time.sleep(15)
featured_image_url=driver.find_element_by_class_name("wide-image").get_attribute("src")
tit=driver.find_element_by_xpath('//*[@id="splashy"]/div[1]/div[1]/div[3]/section/h2[1]').text
hemisdic.append({"title" : tit, "img_url" : featured_image_url})
driver.get(url)
time.sleep(10)
driver.find_element_by_xpath('/html/body/div[1]/div[1]/div[2]/section/div/div[2]/div[2]/div/a/h3').click()
tit=driver.find_element_by_xpath('//*[@id="splashy"]/div[1]/div[1]/div[3]/section/h2[1]').text
time.sleep(15)
featured_image_url=driver.find_element_by_class_name("wide-image").get_attribute("src")
hemisdic.append({"title" : tit, "img_url" : featured_image_url})
driver.get(url)
time.sleep(10)
driver.find_element_by_xpath('/html/body/div[1]/div[1]/div[2]/section/div/div[2]/div[3]/div/a/h3').click()
tit=driver.find_element_by_xpath('//*[@id="splashy"]/div[1]/div[1]/div[3]/section/h2[1]').text
time.sleep(15)
featured_image_url=driver.find_element_by_class_name("wide-image").get_attribute("src")
hemisdic.append({"title" : tit, "img_url" : featured_image_url})
driver.get(url)
time.sleep(10)
driver.find_element_by_xpath('/html/body/div[1]/div[1]/div[2]/section/div/div[2]/div[4]/div/a/h3').click()
tit=driver.find_element_by_xpath('//*[@id="splashy"]/div[1]/div[1]/div[3]/section/h2[1]').text
time.sleep(15)
featured_image_url=driver.find_element_by_class_name("wide-image").get_attribute("src")
hemisdic.append({"title" : tit, "img_url" : featured_image_url})
print(hemisdic)
#print(title)
driver.close()
#print(img)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [41]:
#this step was omitted on scrape_mars.py
Hemispheres_dic={"Htitle":title,"Himage":imgurl}

In [42]:
#this step was omitted on scrape_mars.py
Hemispheres_dic

{'Htitle': ['Cerberus Hemisphere Enhanced',
  'Schiaparelli Hemisphere Enhanced',
  'Syrtis Major Hemisphere Enhanced',
  'Valles Marineris Hemisphere Enhanced'],
 'Himage': ['https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
  'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
  'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
  'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg']}